<h3>Descargar Certificado del SAT</h3>
<form [formGroup]="form">
  <div class="form-group">
    <label for="NoCetificate">No. Certificado</label>
    <input type="text" id="NoCetificate" class="form-control" formControlName="certificate" mask="99999999999999999999">
    <button type="button" (click)="getCertificate()" class="btn btn-primary">Descargar</button>
  </div>
  <div class="form-group">
    <h4>Convert to Base64</h4>
    <div class="form-group">
      <label for="base64">Base 64 String</label>
      <textarea class="form-control" id="base64" formControlName="base64" rows="10"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlFile1">Agregar certificado</label>
      <input class="form-control-file" type="file" id="filePicker" (change)="handleFileSelect($event)">
    </div>
  </div>
</form>
